
.container-product{
width: 100%;
.modal-product{
    gap: 50px;
    display: flex;
    float: left;
    margin-bottom: 20px;
}

.card-body{
    margin-top: 20px;
    width: 100%;
    font-size: medium;
    height: 650px;
    overflow: auto;
}
}